* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  background-color: rgb(207, 207, 207);
}

main {
  display: flex;
  padding-top: 50px;
  height: 100%;
}

#turn {
  display: none;
}

#game-board-container {
  /* display: grid; */
  margin: auto;
  position: relative;
  width: 50%;
}

#game-board-container:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

#game-board {
  margin-left: 100px auto;
  display: grid;
  width: 100%;
  height: 100%;
  position: absolute;
  /* width: 800px;
  height: 800px;
  max-width: 100vh;
  max-height: 100vw; */
  grid-template-columns: repeat(10, 1fr);
  gap: 1%;
}

#menu-container {
  margin: auto;
  text-align: center;
  display: block;
}

.tile {
  background-color: rgb(255, 255, 255);
  background-size: 0px;
}

.empty:hover {
  transform: scale(1.1);
  box-shadow: 2px 2px 5px;
  opacity: 80%;
  background-size: contain;
}

/* .empty.prev-cross:hover {
  transform: scale(1.1);
  box-shadow: 2px 2px 5px;
  opacity: 80%;
  background-size: contain;
  background-image: url("images/cross.png");
}

.empty.prev-circle:hover {
  transform: scale(1.1);
  box-shadow: 2px 2px 5px;
  opacity: 80%;
  background-size: contain;
  background-image: url("images/circle.png");
} */

.cross {
  background-size: contain;
  background-position: center;
  background-image: url("images/cross.png");
}

.circle {
  background-size: contain;
  background-position: center;
  background-image: url("images/circle.png");
}

.highlight {
  transform: scale(1.2);
  box-shadow: 2px 2px 5px;
}

.cross.highlight {
  background-color: rgb(255, 138, 138);
}

.circle.highlight {
  background-color: rgb(90, 186, 255);
}

.modal-content {
  display: none;
  width: 100%;
  height: 40vh;
  background-color: white;
  opacity: 90%;
  margin-top: 20vh;
  position: fixed;
  top: 0px;
  right: 0px;
  /* display: grid; */
  place-items: center;
}

.modal-div {
  margin: auto;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.modal-icon {
  background-image: url("images/circle.png");
  background-size: contain;
  background-position: center;
  height: 100px;
  width: 100px;
  display: inline-block;
}

.modal-text {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  font-size: 3rem;
}

.modal-button {
  height: 70px;
  width: 200px;
  margin: auto;
  font-size: 1.5rem;
  background-color: white;
}

.button-start {
  height: 70px;
  width: 200px;
  margin: 50px auto;
  font-size: 1.5rem;
  background-color: white;
}
#score-div {
  display: grid;
  place-items: center;
}

.score {
  font-size: 4rem;
  margin: 20px auto;
}

#player-cross-div,
#player-circle-div {
  font-size: 3rem;
  display: flex;
  align-items: center;
}

.score-icon-cross {
  height: 4rem;
  width: 4rem;
  background-size: contain;
  background-position: center;
  background-image: url("images/cross.png");
}

.score-icon-circle {
  height: 4rem;
  width: 4rem;
  background-size: contain;
  background-position: center;
  background-image: url("images/circle.png");
}

#score-count-cross,
#score-count-circle {
  margin: auto auto auto 20px;
}

.turn-icon {
  height: 3rem;
  width: 3rem;
  background-size: contain;
  background-position: center;
}

@media (orientation: portrait) {
  main {
    display: block;
    padding-top: 0px;
  }

  #game-board-container {
    width: 90%;
  }

  #score-div {
    grid-template-columns: 1fr 1fr;
    padding: 0px 10%;
  }
  .score {
    font-size: 3rem;
    grid-column: span 2;
  }

  .button-start {
    margin: 20px auto;
  }

  #turn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    min-height: 3rem;
    margin: auto;
  }
}
